body {
    background-color: #7ccafd;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 40px;
}

h1 {
    color: #003366;
}

p {
    width: 70%;
    margin: 20px auto;
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    text-align: justify;
}

button {
    background-color: #ffffffda;
    color: rgb(251, 255, 0);
    border: none;
    padding: 10px 20px;
    margin-top: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
 img {
  display: block;
  margin: 20px auto;
  width: 200px;
}

button {
  display: block;
  margin: 20px auto;
}